:root {
  // COLORS
  --color-primary: #0651DD;
  --color-primary-light: #1564f9;
  --color-primary-dark: #0545bc;

  --color-secondary: #7E2DE2;
  --color-secondary-light: #8f4ce6;
  --color-secondary-dark: #790cca;

  --color-red: #EA2026;

  --color-grey: #94a5a6;
  --color-grey-light: #a4b2b3;
  --color-grey-lighter: #dfe3e4;
  --color-grey-lightest: #f3f6f6;
  --color-grey-dark: #6b8f90;
  --color-grey-darker: #657777;
  --color-grey-darkest: #3f5d5e;

  // DIMENSIONS
  --container-width: 129rem;
  --button-paddings: 1rem 1.6rem;
}